.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
*{
  background-color: #c9e7f4;
}
.output {
  text-align: right;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  width: 300px;
  height: 85px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 32px;
  padding: 2px 20px;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  height: 70px;
  width: 85px;
  font-size: 35px;
  border-top: 2px solid gainsboro;
  border-right: 2px solid gainsboro;
  background-color: white;
}
.special{
  border-right: none;
  background-color:rgb(90, 238, 90);
  color: white;

}
.operator {
  background-color: rgb(203, 198, 198);
}
.num:hover {
 background-color: rgb(241, 228, 228);
}
.special:hover{
  background-color: rgb(4, 141, 25);
}
.operator:hover{
  background-color: darkgrey;
}
.head {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: rgb(58, 7, 243);
}
.equal {
  width: 340px;
  height: 80px;
  border-right: none;
  background-color: bisque;
}
.equal:hover{
  background-color: rgb(229, 128, 5);
}
